@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #020202;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    cursor: crosshair;
    font-family: 'Ma Shan Zheng', cursive;
}

canvas {
    display: block;
    width: 100%;
}

h1 {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    margin: 20px 0; 
}


.text-content {
    text-align: center;
    font-size: 2em;
    margin: 20px;
    max-width: 800px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 3em; 
    }
    .text-content {
        font-size: 1.5em; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em; 
    }
    .text-content {
        font-size: 1em; 
    }
}
